.board {
    display: flex;
    flex-direction: column;

    border: 5px solid black;
}

.board > .tiles {
    display: flex;
    flex-direction: row;
}

.board > .tiles > .column {
    display: flex;
    flex-direction: column;
}
