.difficulty-button {
    background-color: var(--clr-neutral-90);

    padding: var(--padding-small) var(--padding-large);
    border-radius: var(--border-radius-standard);


    font-family: "Figtree", sans-serif;
    font-size: var(--font-standard);
}

.difficulty-button:hover {
    background-color: var(--clr-neutral-80);
}
