.difficulty-button {
    background-color: var(--clr-neutral-90);

    padding: var(--padding-small) var(--padding-large);
    border-radius: var(--border-radius-standard);


    font-family: var(--font-family-main);
    font-size: var(--font-size-standard);
}

.difficulty-button:hover {
    background-color: var(--clr-neutral-80);
}
