.difficulty-select {
    padding: var(--padding-small);

    display: flex;
    flex-direction: column;
    gap: var(--gap-standard);
}

.difficulty-buttons {
    display: flex;
    flex-direction: row;
    gap: var(--gap-large);
}
