.difficulty-select {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-standard);
}

.difficulty-buttons {
    display: flex;
    flex-direction: row;
    gap: var(--gap-tiny);
}
