.minesweeper {
    max-width: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.minesweeper > .settings {
    min-width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 1rem;
}
