.minesweeper {
    background-color: var(--clr-neutral-80);

    padding: var(--padding-standard);

    border: var(--border-width-standard) outset;
    border-color: var(--outset-colours);

    display: flex;
    flex-direction: column;
    gap: var(--padding-standard);
}
