@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --clr-neutral-100: #ffffff;
    --clr-neutral-90: #e6e6e6;
    --clr-neutral-80: #cccccc;
    --clr-neutral-70: #b2b2b2;
    --clr-neutral-60: #999999;
    --clr-neutral-50: #7f7f7f;
    --clr-neutral-40: #666666;
    --clr-neutral-30: #4c4c4c;
    --clr-neutral-20: #333333;
    --clr-neutral-10: #191919;
    --clr-neutral-0: #000000;

    --clr-neutral-highlight: white;
    --clr-neutral-main: #c6c6c6;
    --clr-neutral-shadow: gray;

    --clr-inset: var(--clr-neutral-shadow) var(--clr-neutral-highlight)
        var(--clr-neutral-highlight) var(--clr-neutral-shadow);
    --clr-outset: var(--clr-neutral-highlight) var(--clr-neutral-shadow)
        var(--clr-neutral-shadow) var(--clr-neutral-highlight);

    --clr-tile-bg: var(--clr-neutral-main);
    --clr-tile-bg-border: var(--clr-neutral-shadow);

    --clr-tile-cover: var(--clr-neutral-main);
    --clr-tile-cover-border: var(--clr-neutral-highlight)
        var(--clr-neutral-shadow) var(--clr-neutral-shadow)
        var(--clr-neutral-highlight);

    --clr-one: blue;
    --clr-two: green;
    --clr-three: red;
    --clr-four: navy;
    --clr-five: maroon;
    --clr-six: teal;
    --clr-seven: black;
    --clr-eight: gray;

    --border-width-small: 0.2rem;
    --border-width-standard: 0.4rem;

    --border-radius-small: var(--border-width-small);
    --border-radius-standard: var(--border-width-standard);

    --padding-tiny: 0.2rem;
    --padding-small: 0.4rem;
    --padding-standard: 0.7rem;
    --padding-large: 1.2rem;

    --gap-tiny: calc(var(--padding-tiny) * 2);
    --gap-small: calc(var(--padding-small) * 2);
    --gap-standard: calc(var(--padding-standard) * 2);
    --gap-large: calc(var(--padding-large) * 2);

    --border-highlight-colour: var(--clr-neutral-100);
    --border-shadow-colour: var(--clr-neutral-70);

    --font-size-small: 0.9rem;
    --font-size-standard: 1.2rem;

    --font-family-main: "Figtree", sans-serif;
    --font-family-mono: "Source Code Pro", monospace;

    --inset-colours: var(--border-shadow-colour) var(--border-highlight-colour)
        var(--border-highlight-colour) var(--border-shadow-colour);
    --outset-colours: var(--border-highlight-colour) var(--border-shadow-colour)
        var(--border-shadow-colour) var(--border-highlight-colour);
}

body {
    background-color: var(--clr-neutral-100);

    padding: 0px;
    margin: 0px;

    box-sizing: border-box;
}

/* Override default styles */

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

/* Utility styles */

*.hidden {
    display: none;
}
